<div class = 'one-message'>
   <button class="textToAud"><i class="fas fa-volume-up"></i></button>
    <div class="description">
        {{text}}
    </div>
    <div class = "mauthor">
        {{author}}
    </div>
</div>