<div class="content">
    <h1>Forum</h1>
    <div class="messages">

    </div>
    <div class="text-entry">
        <p>Message</p>
        <textarea class="message"></textarea>
        <p>Author</p>
        <input class="author">
        <button class="messagebtn">Message</button>
    </div>
</div>