<div class="image" style="background-image: url('home.png');">
   <div class = "home-intro">
   </div> 
</div>

<div class= 'content'>

    <h2> Forum </h2>
    <div class="flex-container">
        <h5> Chat with others, and learn about their mental health and what works for them. Make new friends and more!</h5>
        <a href='/forum'><button class="button"> Chat </button></a>
    </div>

    <h2> Strategies </h2>
    <div class="flex-container">
        <h5> Learn about good strategies to cope and have a better mental heath.</h5>
        <a href='/strategies'><button class="button"> Learn</button></a>
    </div>

    <h2> Hotlines </h2>
    <div class="flex-container">
        <h5>Explore other resources, such as hotlines to talk to professionals and other's willing to listen.</h5>
        <a href='/hotlines'><button  class="button"> Explore </button></a>
    </div>
</div>


