<div class="content">
    <h1>Strategies</h1>
    <h2>Short-Term Anxiety and Stress</h2>
    <p>Anxiety and Depression Association of America recommends getting enough sleep, daily exercise, not skipping meals, taking a step back from stressful activities, and talking to someone. Strategies include deep breathing, counting to 10 slowly, and finding distractions.</p>

    <h2>Handling Long-Term Anxiety</h2>
    <p>Beyond Blue recommends dtaying in the present moment and not replaying past memories or fixating on the future. Challenging how you thinking of different interpretations to a situation that’s making you anxious, rather than jumping to the worst-case scenario. Look at the facts for and against your thought being true. Get to know your anxiety by keeping a diary of when it’s at it’s best – and worst. Find the patterns and plan your week – or day – to proactively manage your anxiety. Talking with others who also experience anxiety – or are going through something similar – can help you feel less alone. Start by using Flowerescent's Online Forums to connect with others. </p>

    <h2>Depression Support</h2>
    <p>HelpGuide recommends looking for support from people who make you feel safe and cared for. The person you talk to doesn’t have to be able to fix you; they just need to be a good listener. Phone calls, social media, and texting are great ways to stay in touch, but they don’t replace good old-fashioned in-person quality time. The simple act of talking to someone face to face about how you feel can play a big role in relieving depression and keeping it away. Often when you’re depressed, it feels more comfortable to retreat into your shell, but being around other people and keeping up with social activities will make you feel less depressed. Joining a support group and being with others dealing with depression can go a long way in reducing your sense of isolation. You can also encourage each other, give and receive advice on how to cope, and share your experiences. </p>
    <audio src="strategies.wav" controls></audio>
</div>

