body{
    background-color: black;
    font-family: 'Courier New', monospace;
    font-weight: 300;
    font-size: 16px;     
}
.content{
    color: white;
    max-width: 80em;
    width: calc(100% - 6em);
    margin: 0 auto;
}
h1 {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    margin: 0px;
    color: rgb(0,249,255);
    margin-bottom: 20px;
}

h2 {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    margin: 0px;
    color: rgb(0,249,255);
    margin-bottom: 20px;
}

h3 {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    margin: 0px;
    color:white;
    margin-bottom: 20px;
}

h5 {
    font-family: 'Courier New', monospace;
    font-weight: 300;
    margin: 0px;
    color:white;
    margin-bottom: 20px;
}

h1{
    text-align: center;
}
button{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-transform: uppercase;
    border-color: rgb(0,249,255);
    border-width: 2px;
    background-color: rgb(0,249,255);
    box-shadow: 0 5px grey;
    margin-left: 10px;
    float: right;

    /*font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    width: 8em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    border: 2px solid #4b7b8b;
    background-color: transparent;
*/
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}

button:active {
  background-color: rgb(84, 184, 230);
  color: white;
  border-color:rgb(84, 184, 230);
  box-shadow: none;
  transform: translateY(5px);
}

a{
    text-decoration: none;
    
}
/*Home*/
.image{
    padding: 18em 0 18em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    position: relative;
    z-index: 9999;
    margin: 0px;
    margin: 0 -8px 0 -8px;
    margin-bottom: 10px;
}.flex-container{
    display:grid;
    grid-template-columns: auto auto;
    align-items: right;
}
/*Forum*/
.text-entry{
    position: fixed; 
    padding:15px; 
    bottom: 10px;
    right: 10px; 
    /* height: 200px;  */
    background: #eee; 
    border-radius: 2px;
    width:500px
}
#message,
#author{
    width: 100%;
    border-radius: 5px;
    border:0px;
    text-decoration: none;
    padding:5px;
    margin-top:-14px;
}
#author{
    width:75%;
}
#messagebtn{
    margin-top:-5px;
    height:35px;
    padding:-10px
}

.one-message{
    background-color: #4b7b8b;
    border-radius: 2px;
    margin: 10px;
    padding:10px;
    color:white;
}
.mauthor{
    text-align: right;
    font-weight: 400;
}